scripts=[
        "
        create path (sling:OrderedFolder) /content/dam/siteA
        create path (nt:unstructured) /content/dam/siteA/jcr:content
        set properties on /content/dam/siteA/jcr:content
        set cq:conf{String} to /conf/siteA
        set jcr:title{String} to \"siteA\"
        end
        "
]
